.requiredColor {
    color: #ff0000;
}

.tdWord {
    padding-right: 10px;
    text-align: right;
}

.modifyCont table {
    margin: 40px auto 355px;
    width: 459px;
}

.modifyCont table tr {
    height: 50px;
}

.modifyCont table tr td input {
    height: 40px;
    line-height: 40px;
    width: 340px;
}

.modifyButton {
    background: url("../images/g9.3.png") no-repeat;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-left: 106px;
    margin-top: 30px;
    text-align: center;
    width: 120px;
}

.successfulMod {
    font-size: 16px;
    margin-top: 30px;
    color: #333;
    margin-left: 103px;
    display: none;
}

.successfulMod img {
    vertical-align: middle;
    margin-right: 10px;
}