.nothingCon{
    margin: 50px auto 0;
    text-align: center;
}
.nothingCon a{
    color: #fff;
}
.nothingCon div{
    margin-top: 15px;
}
.nothingCon img{
    width:200px;
    height:200px;
}
.searchDiv{
    background: url("../images/g5.9.png") no-repeat;
    width:138px;
    height:31px;
    margin:0 auto;
    color: #fff;
    line-height:31px;
    cursor: pointer;
}
.foundDiv{
    margin-bottom: 254px;
    margin-left: 402px;
    padding-bottom: 26px
}
.foundClass{
    background: url("../images/g6.png") no-repeat;
    width:138px;
    height:31px;
    margin: 0 15px 0 auto;
    color: #fff;
    line-height:31px;
    float: left;
    cursor: pointer;
}
.propose{
    float: left;
    line-height:2;
    color: #666;
}