.concernCon {
    margin: 10px;
    *padding-bottom: 10px;
    overflow: auto;
}

.concernCon ul {
    text-align: center;
}

.concernCon ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 96px;
    margin-top: 10px;
    width: 242px;
}

.conLeft {
    float: left;
}

.conHeadImg {
    width: 106px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.opeImg img {
    cursor: pointer;
}

.conRight {
    color: #333;
    text-align: left;
}
.conPColor{
    color: #585858;
}
.conRTitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.conRCont p {
    line-height: 1.5;
}